@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

/* variable */
:root {
--font-family: 'Inter', san-serif;
--color-primary:#E1F2E5;
--color-secondary:#1A745E;
--color-body:#364B44;
}



body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-body);
}

.custom-navbar {
    background-color: var(--color-primary);
    box-shadow: 1px 0 5px var(--color-secondary);
    padding-top: 10px;
    padding-bottom: 10px;    
}

.navbar-brand, .navbar-brand:hover {
    color: var(--color-body);
    font-size: 18px;
    font-weight: 600; 
}

.nav-link {
    color: var(--color-body);
    opacity: .5;
    transition: .3s all ease;
    position: relative;
}

.nav-link:hover {
    color: var(--color-body);
    opacity: 1;

}
.link-active {
    opacity: 1;
}

.navbar-toggler {
    border-style: none;
}

.navbar-toggler:active, 
.navbar-toggler:focus {
box-shadow: none;
outline: none;
}

.tombol {
    border-radius: 0%;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}


/* only desktop version */
@media (min-width: 992px) {
    .nav-link:hover::before,
    .link-active::before {
        content: '';
        position: absolute;
        bottom: 0; 
        left: 8px;
        right: 8px;
        border: 2px solid var(--color-secondary);
        width: 40%;
        margin: auto;
    }

    .navbar-brand, .navbar-brand:hover {
        color: var(--color-body);
        font-size: 26px;
        font-weight: 600; 
    }
}
